<dt>
    <h2>Fråga {{num}}</h2>
</dt>
<dd>
    <input type="radio" value="1" name="option-{{num}}" class="option" id="option-{{num}}-1">
    <label for="option-{{num}}-1">1</label>
    <input type="radio" value="x" name="option-{{num}}" class="option" id="option-{{num}}-x">
    <label for="option-{{num}}-x">X</label>
    <input type="radio" value="2" name="option-{{num}}" class="option" id="option-{{num}}-2">
    <label for="option-{{num}}-2">2</label>
</dd>
